main {
    padding: 4rem;
    display: flex;
    justify-content: flex-end;
    background-image: url(../../assets/images/background3.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    height: calc(100vh - 32rem);
    min-height: 42rem;
}

.dash {
    min-height: calc(100vh - 11rem);
    min-width: 100rem;
    max-width: 150rem;
}
 
.Homefooter {
    bottom:0;
    min-width: 100rem;
    max-width: 150rem;
    
}
/* 
@media (max-height: 40rem) {
    .Homefooter {
        position:absolute;
    }
} */